@font-face {
  font-family: 'CalSans';
  src: url('./CalSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 480px) {
  .fade-up {
    animation-duration: 600ms !important;
  }
}